<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- 重要，通过配置文件实现的配置此部分必须存在 -->
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>

  <!-- Debug日志配置，Debug下输出 -->
  <!--<common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.DebugLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="Trace" />
      </factoryAdapter>
    </logging>
  </common>-->

  <!-- Trace日志配置，Debug/Release下都输出 -->
  <!--<common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="Trace" />
        <arg key="useTraceSource" value="false" />
      </factoryAdapter>
    </logging>
  </common>-->

  <!-- 控制台日志配置 -->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="Trace" />
        <arg key="useColor" value="true" />
      </factoryAdapter>
    </logging>
  </common>

  <!-- 空日志配置 -->
  <!--<common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.NoOpLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="All" />
      </factoryAdapter>
    </logging>
  </common>-->

</configuration>